# Ignore build output and config files
Debug/
Release/
*.nuget.cache
*.assets.json
*.user
*.suo
*.vs/
/UrlShortener.Api/obj/UrlShortener.Api.csproj.nuget.dgspec.json
/UrlShortener.Api/obj/UrlShortener.Api.csproj.nuget.g.props
/UrlShortener.Api/obj/UrlShortener.Api.csproj.nuget.g.targets
